* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --light: #ddf6cb;
    --mint: #A9FDAC;
    --green: #44CF6C; 
    --zomp: #32A287; 
    --dark: #44633F; 
}

html {
    max-width: 1500px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    width: 92%;
    flex-wrap: wrap;

}

header {
    display: flex;
    width: 100%;
    background-color: var(--mint);
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    box-shadow: 3px 3px 10px .5px #102315;
}

.name {
    font-size: 3em;
    color: var(--dark);
    padding-top: .35em;
    padding-left: .3em;
}

.navBarLinks {
    display: flex;
    justify-content: end;
}

.navLink {
    font-size: 2em;
    padding-top: .5em;
    margin-right: .6em;
    text-decoration: none;
    color: var(--zomp);
    transition: color .3s;
}

.navLink:hover {
    border-bottom: 1px solid #44633F;
    color: var(--dark);

}

h3 {
    font-size: 2em;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #44633F;
    padding: 2em 0 .5em 1em;
    padding-top: 4em
}

.sectionHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 3em
}

.matthewHeadshot {
    max-width: 400px;
    max-height: 400px;
    border-radius: 1em; 
    box-shadow: 3px 3px 10px .5px #222222;
}

#bio {
    padding-left: 2em;
    font-size: 1.6em;
}

.projectImg {
    max-width: 720px;
    max-height: 360px;
    margin: 3em 3em;
    box-shadow: 3px 3px 10px .5px #2d2c2c;
    transition: .4s;
}

.projectImg:hover {
    transform: scale(1.05);
}